/* NAVBAR */

#navBar {
  margin-bottom: 0;
}

/* SERVERS PAGE */

.mainServersImg {
  margin-top: 2em;
}

.progressBar {
  margin-left: auto;
  margin-right: auto;
}

.progressBar .label {
  font-weight: 100 !important;
}

.pageHeader {
  margin: 1em !important;
}

/* SERVER VIEW */
.backArrow {
  position: absolute;
  color: #707070;
  z-index: 999999;
  top: 1em;
  left: 1em;
}

.backArrow:hover {
  color: #505050;
}

.mapPlaceholder {
  min-height: 300px;
  height: 25vh;
  background-color: silver;
  margin-bottom: 3em;
}